<app-roam-header></app-roam-header>

<div class="profile-splash-image flex row">
  <div class="f1"></div>
  <div class="profile-image"></div>
  <div class="f1"></div>
</div>

<div class="flex row container">
  <div class="f1"></div>
  <div class="profile-summary">
    <p><b id="name">FIRST LAST, AGE</b></p>
    <p id="location">CITY, STATE</p>
    <div class="row flex">
      <div class="col f1">
        <p>Playlists</p>
        <p><b id="playlists">PC</b></p>
      </div>
      <div class="col f1">
        <p>Likes</p>
        <p><b id="likes">LC</b></p>
      </div>
    </div>
  </div>
  <div class="f1"></div>
</div>

<div class="row container">
  <div class="padded">
    <p>Playlists</p>
    <div class="playlist"></div>
    <div class="playlist"></div>
    <div class="playlist"></div>
    <div class="playlist"></div>
  </div>
</div>
























