<div class="row margins">
  <div class="col dark" style="flex: 3; text-align: center">

    <div>
      <p></p>
      <h1>DUNCAN<br>HOBBES<br>WALTER</h1>
      <p></p>
    </div>
    <hr>
    <div class="card">
      <p><b> Code</b>,<b> Art</b>, or<b> Both?</b></p>
    </div>
    <hr>
    <div class="accent"></div>
    <hr>
    <div class="card">
      <p></p>
      <p><b>WEBSITE</b><br>base10studios.com</p>
      <p><b>EMAIL</b><br>dwalter@barlingarts.com</p>
      <p><b>PHONE</b><br>913-626-2105</p>
      <p></p>
    </div>
    <hr>
    <div class="card f1">

      <div class="box" style="padding: 0.65rem 0 0.65rem">
        <p style="line-height:1.95;">
          <b>PERFORMANCE<br>&<br>ELEGANCE</b>
        </p>
        <p style="line-height:1.95;">
          are not exclusive nor optional; They are complimentary
          & essential. In all my work, I strive to prove this.
        </p>
      </div>
    </div>
    <hr>
    <div class="accent"></div>

  </div>

  <div class="light col" style="flex: 8; height:100%;">
    <!--<div style="height: 1.3rem"></div>-->
    <div style="height: 1.95rem"></div>

    <!--<p></p>-->
    <div class="row">
      <div class="f3">
        <p></p>
        <p><b>EDUCATION</b></p>
        <hr>
        <p><b class="norm">University of Oklahoma</b><br>Set to graduate with a Master's in Computer
          Science in the Spring of 2020 with a GPA of 3.45. Active member of
          OU's Software Studio and Game Developer's Association. Member of the Honors College, and
          recipient of the National Merit scholarship.
        </p>
      </div>
      <div class="f2">
        <p></p>
        <p><b>SKILLS</b></p>
        <hr>
        <p><b class="norm">Languages</b><br>JavaScript, Java, C++, Haskell, HTML, CSS</p>
        <p><b class="norm">Tools</b><br>Angular JS, OpenGl, Git, FireBase, Linux</p>
        <!--<p><b>Personal</b><br>Self Teacher, Artist's Eye, Google-Fu Ninja</p>-->
      </div>
    </div>
    <p></p>
    <div class="">
      <p></p>
      <p><b>PAST EXPERIENCE</b></p>
      <hr>
      <p style="text-align:justify"><b class="norm">Plow Technologies</b> - Student Intern, Summer 2016 <br>
        Onping, Plow Technologies’ online product, presents live wellsite information
        to clients through custom dashboards. I expanded the web-API of Onping, created
        several new pages, and renovated its mobile presence. Onping’s data is stored in
        no-SQL databases, served by Haskell, and presented through Angular JS with Twitter Bootstrap.
      </p>
    </div>
    <p></p>
    <div class="box">
      <p></p>
      <p style="text-align:justify">
        I have experienced application development from many angles- from the servers and database
        management to the markup and styling of pages, even down to the rendering steps. I have worked
        under the constraints of native and web applications alike. asdf adf asdfas fasdfas asdfa fasd
        fasdf asdf adf asdf asdf sadf a sdfa sdfasdf a sd f dsa.
      </p>
      <p></p>
    </div>
    <p></p>
    <div class="">
      <p></p>
      <p><b>CURRENT PROJECTS</b></p>
      <hr>
      <p style="text-align:justify"><b class="norm">Roam</b> - Lead Developer (Software Studio) <br>
        Roam is a hybrid application for discovering and curating events based on location. Built
        around Angular 2, Firebase, and Materialize.css, Roam’s front end is designed to be
        high-performance while targeting multiple platforms.
      </p>
      <p style="text-align:justify"><b class="norm">Gloo Kit</b> - Lead Developer <br>
        Gloo Kit is an OpenGL powered set of tools for developing native applications of all kinds.
        Built around concurrency and the observer pattern, it is designed for performance and
        responsiveness without hair-pulling.
      </p>
    </div>
    <p></p>
    <!--<div style="height: 1.95rem"></div>-->
  </div>

</div>
